<mat-toolbar class="header" color="primary" mat-elevation-z4>

  <!-- Logo -->
  <span class="logo-container">
    <a routerLink="/">
      <img class="logo" src="assets/img/logo-senai.png" alt="logo">
    </a>
  </span>

  <!-- Espaçador para empurrar o menu de navegação para a direita -->
  <span class="spacer"></span>

  <!-- Menu de navegação movido para a direita -->
  <span class="nav-links">
    <a mat-button routerLink="/clientes"><i class="material-icons">info</i> Sobre</a>
  </span>

</mat-toolbar>
