<mat-card>
    <mat-card-title>Excluir cliente</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nome do Cliente*</mat-label >
            <input matInput placeholder="" [value]="cliente.cliNome" name="cliNome" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cpf*</mat-label>
            <input matInput placeholder="" [value]="cliente.cliCpf" name="cliCpf" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Gmail*</mat-label>
            <input matInput placeholder="" [value]="cliente.cliEmail" name="cliEmail" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefone*</mat-label>
            <input matInput placeholder="" [value]="cliente.cliTelefone" name="cliTelefone" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Endereço*</mat-label>
            <input matInput placeholder="" [value]="cliente.cliEndereco" name="cliEndereco" disabled>
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="deleteCliente()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card> 