<mat-card>

    <mat-card-title>Novo Cliente</mat-card-title>

<form>
<mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
    <input matInput placeholder="" [(ngModel)]="cliente.cliNome" name="cliNome" required>
</mat-form-field>

<mat-form-field appearance="outline">
      <mat-label>Gmail</mat-label>
    <input matInput placeholder=" " [(ngModel)]="cliente.cliEmail" name="cliEmail" required>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Cpf</mat-label>
    <input matInput placeholder="###.###.###-##" [(ngModel)]="cliente.cliCpf" name="cliCpf" minlength="11" maxlength="11" required>
</mat-form-field>

<mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
    <input matInput placeholder="" [(ngModel)]="cliente.cliTelefone" name="cliTelefone"  maxlength="11" required>
</mat-form-field>

<mat-form-field appearance="outline">
       <mat-label>Endereço</mat-label>
    <input matInput placeholder="" [(ngModel)]="cliente.cliEndereco" name="cliEndereco" required>
</mat-form-field>
</form>

<button mat-raised-button (click) = "createCliente()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
   Cancelar
</button>
</mat-card>
