<mat-card>
    <mat-card-title>Nova Forma de Pagamento</mat-card-title>
    <form>
        <mat-form-field appearance="outline" >
              <mat-label>Tipo</mat-label>
            <input matInput placeholder="" [(ngModel)]="paymentMethod.fpgTipo" name="fpgTipo" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="" [(ngModel)]="paymentMethod.fpgDescricao" name="fpgDescricao">
        </mat-form-field>

        <button mat-raised-button (click)="createPaymentMethod()" color="primary">
            Salvar
        </button>
       
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>