<mat-card>
    <mat-card-title>Excluir Fornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Razão Social" [value]="supplier.forRazaoSocial" name="forRazaoSocial" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" [value]="supplier.forNomeFantasia" name="forNomeFantasia" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ" [value]="supplier.forCnpj" name="forCnpj" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteSupplier()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>