<mat-card>
    <!-- Componente de cartão do Angular Material que contém o formulário para cadastro de um novo produto -->
    <mat-card-title>Novo Produto</mat-card-title>
    
    <form>
        <!-- Formulário para entrada de dados do novo produto. Os campos são vinculados ao objeto 'product' através do ngModel -->
        <mat-form-field appearance="outline"    > <!-- Campo de entrada para o nome do produto. O valor é vinculado à propriedade 'proNome' do objeto 'product' -->
                 <mat-label>Nome</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proNome" name="proNome" required >
        </mat-form-field>
        
        <mat-form-field appearance="outline"><!-- Campo de entrada para o preço de custo do produto. O valor é vinculado à propriedade 'proPrecoCusto' do objeto 'product' -->
            <mat-label>Preço de Custo (R$)</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto" type="number" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline">      <!-- Campo de entrada para o preço de venda do produto. O valor é vinculado à propriedade 'proPrecoVenda' do objeto 'product' -->
            <mat-label>Preço de Venda (R$)</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda" type="number" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proQuantidade" name="proQuantidade" type="number" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proDescricao" name="proDescricao">
        </mat-form-field>

        <mat-form-field appearance="outline">
              <mat-label>Codigo de Barras</mat-label>
            <input matInput placeholder [(ngModel)]="product.proCodigoBarras" name="proCodigoBarras" required maxlength="13">
        </mat-form-field>

        
        <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proMarca" name="proMarca" required>
        </mat-form-field>
        
     
          <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.proCategoria" name="proCategoria" required>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Status do Produto</mat-label>
            <mat-select matInput placeholder="Ex: True or False" [(ngModel)]="product.proAtivo" name="proAtivo" required>
              <mat-option [value]="true">True</mat-option>
              <mat-option [value]="false">False</mat-option>
            </mat-select>
          </mat-form-field>
          

    </form>

    <!-- Botão para salvar o novo produto. Ao ser clicado, chama a função 'createProduct()' que deve conter a lógica para salvar o produto -->
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação. Ao ser clicado, chama a função 'cancel()' que deve conter a lógica para cancelar a operação e possivelmente limpar o formulário -->
    <button mat-raised-button  type = "submit" (click)="cancel()">
        Cancelar
    </button>
</mat-card>