<mat-card>
    <!-- Componente de cartão do Angular Material que contém o formulário para cadastro de um novo produto -->
    <mat-card-title>Novo Produto</mat-card-title>
    
    <form>
        <!-- Formulário para entrada de dados do novo produto. Os campos são vinculados ao objeto 'product' através do ngModel -->
        <mat-form-field>
            <!-- Campo de entrada para o nome do produto. O valor é vinculado à propriedade 'proNome' do objeto 'product' -->
            <input matInput placeholder="Nome" [(ngModel)]="product.proNome" name="proNome" placeholder="Nome do Produto" required >
        </mat-form-field>
        
        <mat-form-field>
            <!-- Campo de entrada para o preço de custo do produto. O valor é vinculado à propriedade 'proPrecoCusto' do objeto 'product' -->
            <mat-label>Preço de Custo (R$)</mat-label>
            <input matInput placeholder="Preço de Custo (R$)" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto" type="number" required>
        </mat-form-field>
        
        <mat-form-field>
            <!-- Campo de entrada para o preço de venda do produto. O valor é vinculado à propriedade 'proPrecoVenda' do objeto 'product' -->
            <mat-label>Preço de Venda (R$)</mat-label>
            <input matInput placeholder="Preço de Venda (R$)" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda" type="number" prequired>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput placeholder="Quantidade" [(ngModel)]="product.proQuantidade" name="proQuantidade" type="number" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="product.proDescricao" name="proDescricao">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Codigo de Barras" [(ngModel)]="product.proCodigoBarras" name="proCodigoBarras" required maxlength="13">
        </mat-form-field>

        
        <mat-form-field>
            <input matInput placeholder="Marca" [(ngModel)]="product.proMarca" name="proMarca" required>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Ex: True or False" [(ngModel)]="product.proAtivo" name="proAtivo" required>
              <mat-option [value]="true">True</mat-option>
              <mat-option [value]="false">False</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Categoria" [(ngModel)]="product.proCategoria" name="proCategoria" required>
        </mat-form-field>


    </form>

    <!-- Botão para salvar o novo produto. Ao ser clicado, chama a função 'createProduct()' que deve conter a lógica para salvar o produto -->
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação. Ao ser clicado, chama a função 'cancel()' que deve conter a lógica para cancelar a operação e possivelmente limpar o formulário -->
    <button mat-raised-button  type = "submit" (click)="cancel()">
        Cancelar
    </button>
</mat-card>